/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* /reset CSS */

/* Debug section */

.container.debug{
    background-color: brown;
}
.debug .vetrina {
    background-color: chocolate;
}

.debug .description {
    background-color: coral;
}
/* /Debug section */

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
text-align: center;
margin: 1rem 0;
}

section{
    width: 350px;
    height: 600px;
    margin: 0 1em;
    display: inline-block;
}

.vetrina{
    width: 100%;
    height: 85%;
    background-image: url(../img/1.webp);
    background-size: contain;
    position: relative;
}

.vetrina .cuore::after{
    content: "\2764";
    color: tomato;
    background-color: white;
    padding: .5rem;
    position: absolute;
    top: 5%;
    right: 0;
}
.vetrina .tag{
    color: white;
    font-weight: bolder;
    position: absolute;
    bottom: 5%;
    left: 0;
}
.vetrina .discount{
    background-color: red;
    padding: 5px;
    
}
.vetrina .sustainability{
    background-color: green;
    padding: 5px;
}

.description{
    width: 100%;
    height: 15%;
}
