/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* /reset CSS */

/* Debug section */

.container, .debug{
    height: 1000px; 
    background-color: brown;
}
.vetrina .debug{
    background-color: chocolate;
}

.description .debug{
    background-color: coral;
}
/* /Debug section */

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
text-align: center;
}

section{
    width: 350px;
    height: 600px;
    display: inline-block;
}

.vetrina{
    width: 100%;
    height: 85%;
    background-image: url(../img/1.webp);
    background-size: contain;
}

.description{
    width: 100%;
    height: 15%;
}
