/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: sans-serif;
    font-size: 16px;
}
/* /reset CSS */

.container{
    max-width: calc((350px + 4rem ) * 3);
    margin: 0 auto;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

/* main section */
.card{
    width: 350px;
    min-width: 200px;
	float: left;
	margin: 2rem;
}

/* gallery with tags */
.card .top-section{
    position: relative;
}

.card img{
    width: 100%;
}

.card .main-img {
	position: absolute;
	top: 0;
	left: 0;
}   
.card:hover .main-img {
	visibility: hidden;
}

/* tags */
.top-section .heart::after{
    content: "\2764";
    position: absolute;
    top: 1rem;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 2rem;
    background-color: white;
}

.top-section .tags-conteiner{
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 0;
    font-size: 0;
}

.top-section .tag{
    display: inline-block;
    padding: .3em;
    margin-right: .2em;
    font-weight: 600;
    font-size: 1rem;
}

.top-section .discount{
    background-color: red;
}

.top-section .quality{
    background-color: green;
}
/* /tags */
/* /gallery with tags */

/* item-details */
.bottom-section{
    font-size: 0;
}

.bottom-section .brand{
    font-size: 1rem;
}

.bottom-section h1{
    text-transform: uppercase;
    font-size: 1.5rem;
}

.bottom-section .finalprice{
    color: red;
    font-weight: 600;
}

.bottom-section .originalprice{
    text-decoration: line-through;
}

.finalprice, .originalprice{
    font-size: 16px;
    margin-right: .3em;
}
/* /item-details */
/* /main section */